@import "../../../styles/variables";

.playerBio {
  position: fixed;
  background: adjust-color($blue, $lightness: 65);
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  padding: 35px;
  min-height: 800px;
  height: 100vh;
  box-shadow: 1px 1px 10px black;

  &.show {
    transform: translateX(0%);
  }

  p {
    font-size: 1.6rem;
    margin: 5px 0;
  }

  a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    background: white;

    &:hover {
      background: adjust-color(grey, $lightness: 30);
    }
  }
}

.player__baseballBio {
  margin-bottom: 40px;
}

.player__photo {
  min-height: 320px;
}

.player__info {
  p:first-child {
    font-size: 2.6rem;
    margin: 10px 0;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 0;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  cursor: pointer;

  span {
    height: 2px;
    background: black;
    width: 25px;
    z-index: 1000;
    position: absolute;
    vertical-align: middle;
    left: -2px;
    top: 50%;

    &.forwardSlash {
      transform: rotate(45deg);
    }

    &.backslash {
      transform: rotate(135deg);
    }
  }
}