.detail {
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.4rem;
    text-align: left;
  }

  .pitcher__headings,
  .batter__headings,
  .fielder__headings,
  .player__stats--year {
    margin: 0 auto;
  }

  .pitcher__headings,
  .batter__headings,
  .fielder__headings {

    li {
      border-bottom: none;
    }
  }

  .player__stats--year {
    li {
      border-bottom: none;

    }

    &:last-child li {
      border-bottom: 1px solid black;
    }
  }

  .detail__info {
    display: flex;
    margin: 0 auto;
    width: max-content;
  }

  .detail__fullName {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .detail__fullName,
  .detail__jersey {
    font-size: 4rem;
  }

  .playerBio {
    display: flex;
    flex-wrap: wrap;
    position: static;
    background: none;
    box-shadow: none;
    height: inherit;
    transform: none;
    padding: 0;

    a {
      display: none;
    }

    & div {
      margin-top: 100px;
      margin-left: 20px;
      width: 20%;

      p {
        font-size: 2rem;
        margin-bottom: 20px;
      }
    }

    .player__photo {
      width: 20%;
      margin-left: 0;
    }
  }

  .player__info p:first-child {
    font-size: 4rem;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .close {
    display: none;
  }
}