.detail {
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.4rem;
    text-align: left;
  }

  .pitcher__headings,
  .batter__headings,
  .fielder__headings,
  .player__stats--year {
    margin: 0 auto;
  }

  .pitcher__headings,
  .batter__headings,
  .fielder__headings {

    li {
      border-bottom: none;
    }
  }

  .detail__info {
    display: flex;
    margin: 0 auto;
    width: max-content;
  }

  .detail__fullName {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .detail__fullName,
  .detail__jersey {
    font-size: 4rem;
  }

  .playerBio {
    display: block;
    position: static;
    background: none;
    box-shadow: none;
    height: inherit;
    transform: none;
    padding: 0;

    a {
      display: none;
    }
  }

  .player__info p:first-child {
    font-size: 4rem;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .player__photo {
    margin-top: 100px;
  }

  .close {
    display: none;
  }
}