.team__park {
  width: 400px;
}

.player {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  margin: 10px 0;
}

.player__name {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  input[type="radio"] {
    display: none;
  }
}

.player__stats {
  width: 95%;
}

.pitcher__headings,
.batter__headings {
  margin-left: 135px;
  text-align: center;
}

.player__stats--year {
  margin-left: 20px;
  text-align: right;

  li {
    margin-bottom: 5px;
  }
}

.pitcher__headings,
.batter__headings,
.player__stats--year {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  height: auto;
}

.year {
  min-width: 40px;
}