@import "../../../styles/index.scss";

.team__roster {
  h2 {
    font-size: 1.6rem;
    text-transform: none;
  }

  h3 {
    margin: 20px 0;
  }

  .tableTitle__batters {
    margin-top: 60px;
  }
}

.player {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  margin-bottom: 10px;
}

.player__name {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;

  &,
  & * {
    cursor: pointer;
  }

  &:hover {
    & label {
      color: $blue;
      font-weight: 700;
    }
  }

  .jersey {
    font-size: 1.8rem;
  }

  input[type="radio"] {
    display: none;
  }
}

.player__stats {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  li {
    li {
      border-top: none;
    }
  }

  li:first-child {
    li {
      border-top: 1px solid black;
      text-align: right;
    }
  }
}

.pitcher__headings,
.batter__headings,
.fielder__headings {
  margin-left: 153px;
  text-align: center;

  li {
    background: adjust-color($blue, $alpha: -0.7);
    font-size: 1.1rem;
    font-weight: 700;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    padding-top: 5px;
    padding-bottom: 5px;

    &:last-child {
      border-right: 1px solid black;
    }
  }
}

.player__stats--year {
  margin-left: 15px;
  text-align: right;

  li {
    border: 1px solid black;
    border-right: none;
    padding-right: 2px;
    font-size: 1.3rem;

    &:last-child {
      border-right: 1px solid black;
    }
  }
}

.pitcher__headings,
.batter__headings,
.fielder__headings,
.player__stats--year {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
}